@font-face {
    font-family: 'kufam italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Kufam-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'kufam regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Kufam-VariableFont_wght.ttf');
}
*{
    font-family: 'kufam regular';
}
:root {
    --primary:#36ff9b; 
    --secundary: #aaaaaa;
}
.text-primary {
    color: var(--primary);
}
.text-secundary {
    color: var(--secundary);
}
.text-vertical {
    writing-mode: vertical-lr;
}
