@font-face {
    font-family: 'kufam italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Kufam-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'kufam regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Kufam-VariableFont_wght.ttf');
}
*{
    font-family: 'kufam regular';
}
:root {
    --primary:#36ff9b; 
    --secundary: #aaaaaa;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #1A1A1A;
}
::-webkit-scrollbar-thumb {
    background: #151515;
    opacity: 0.05;
    border-radius: 5px;
}
.text-primary {
    color: var(--primary);
}
.text-secundary {
    color: var(--secundary);
}
.text-vertical {
    writing-mode: vertical-lr;
}
.bg-dark-light {
    background-color:rgba(26, 26, 26, .95);
}
.bg-dark {
    background-color: #1A1A1A;
}
.bg-gray {
    background-color: #1E1E1E;
}
.bg-menu {
    background-image: url('../icon/menu.svg');
}
.bg-close {
    transform: rotateZ(90deg);
    background-image: url('../icon/close.svg');
}
.expand-menu {
    animation: expand 1s forwards;
}
@keyframes expand {
    0%{height: 0;}
    100%{height: 100vh;}
}
.button-primary {  
    background-color: var(--primary);
    color: black;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.button-secundary {
    border-color: var(--primary);
    font-weight: bold;
    color: var(--primary);
    transition: background .5s;
}
.button-secundary:hover {
    background-color: var(--primary);
    color: black;
}
.img-profile {
    width: 300px;
    height: 300px;
}
.bg-menu-gradient {
    background: linear-gradient( to bottom, #101010 65%, #10101000) !important;
    transition: background 5s;
}
.bg-menu-transparent {
    background: transparent !important;
    transition: background 5s;
}
.item-select {
    font-weight: bold;
    position: relative;
}
.item-select::before {
    width: 35% !important;
}
#menu-potfolio ul li {
    position: relative;
    cursor: pointer;
}
#menu-potfolio ul li:hover::before {
    width: 100%;
}
#menu-potfolio ul li::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--primary);
    width: 0%;
    height: 100%;
    top: 25%;
    transition: 1s;
}
.item div div {
    opacity: 0;
    transition: .5s;
}
.item div div:hover {
    opacity: 1;
}
.item div img {
    cursor: pointer;
}
.box-shadow {
    box-shadow: none;
}
.scroll-none::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width:767px) {
    #social-media {
        margin-top: 35%;
    }
    #img-perfil {
            width: 250px;
    }
}

@media screen and (min-width:768px) and (max-width:900px) {
    #menu {
        flex-direction: column;
        justify-content: flex-start;
    }
    #btn-menu {
        display: block;
    }
    #menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
    }
    #menu ul li {
        padding: 15px 0;
        font-size: 20px;
        margin: 0;
    }
    #menu ul li:nth-child(1) {
        margin-top: 20px;
    }
    .ul-full {
        height: 100% !important;
    }
    #continer-img {
        align-items: flex-start;
        margin: 0;
    }
    /* #img-perfil {
        margin-top: 100px;
    } */

}

@media screen and (min-width:360px) and (max-width:639px) {
    section div h1 {
        font-size: 1.875rem !important;
    }
}

@media screen and (max-width:375px) {
    .img-profile {
        width: 200px;
        height: 200px;
    }
    #about-me #data div p {
        display: flex;
        flex-direction: column;
    }
    #about-me #description p {
        font-size: 14px;
    }
}
@media screen and (max-width:360px) {

    #about-me {
        padding: 0 20px;
    }
    #data {
        font-size: 13px;
    }
}
@media screen and (max-width:639px) {

    .item-select::before {
        background-color: var(--primary);
    }
    .box-shadow {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    }
    /*ESMITH -- QUITAR LINEAS DE MENU PORTAFOLIO*/
    #menu-potfolio ul li::before {
        border: none;
        width: 10px !important;
        height: 10px !important;
        left: 100%;
        border-radius: 50%;
        transition: .5s;
    }
}
/* w-11/12 sm:w-1/2 md:w-1/2 */

/*
|CSS--MUURI
*/
.grid-muuri {
    position: relative;
    width: 85%;
    margin: 0 auto;
    transition: .5;
}
.item {
  display: block;
  position: absolute;
  width: calc(33.333333% - 20px);
  margin: 10px;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
    .grid-muuri {
        width: 90%;
    }
}
@media screen and (max-width: 900px) {
    .grid-muuri .item {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 550px) {
    .grid-muuri {
        width: 100%;
    }
    .grid-muuri .item {
        width: 100%;
        margin: 10px 0;
    }
}